.toggle-button {
  width: 120px;
  height: 50px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-dot {
  width: 60px;
  height: 48px;
  transform: translateX(2px);
  transition: transform 0.3s ease-in-out;
}

.toggle-dot-active {
  transform: translateX(100%);
}
